PORT=3000

# MongoDB
MONGO_URI=mongodb://localhost:27017/gst_app

# PostgreSQL
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=gst_app
POSTGRES_SYNC=false
